//clk
Net "clk_audio" LOC="B8";

Net "tono[3]" LOC="A10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "tono[2]" LOC="E11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "tono[1]" LOC="E10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "tono[0]" LOC="D10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

Net "do_nota" LOC="C13" | IOSTANDARD = LVCMOS33;
Net "re_nota" LOC="D12" | IOSTANDARD = LVCMOS33;
Net "mi_nota" LOC="C12" | IOSTANDARD = LVCMOS33;
Net "sol_nota" LOC="C10" | IOSTANDARD = LVCMOS33;